<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">



	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/sisclinic" />
		<property name="username" value="root" />
		<!--  <property name="password" value="henrique2418" />   -->
	</bean>

	<sec:http auto-config="true">
		<sec:form-login login-page="/login.jsf" authentication-failure-url="/login.jsf?erro=invalido" default-target-url="/index.jsf" />
		<sec:logout logout-success-url="/login.jsf" />
		<sec:intercept-url pattern="/index.jsf" access="ROLE_MED" />
		<sec:intercept-url pattern="/paciente/**" access="ROLE_MED" />
		<sec:intercept-url pattern="/gerente/**" access="ROLE_MED" />
		<sec:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
	</sec:http>
	
	<sec:authentication-manager>
	<sec:authentication-provider>
		<sec:jdbc-user-service data-source-ref="dataSource"
			users-by-username-query="SELECT login, senha, 'true' as enable FROM funcionario WHERE login=?"  
                authorities-by-username-query="SELECT login, authority FROM funcionario WHERE login=?" />  
	</sec:authentication-provider>
</sec:authentication-manager>

</beans> 

