body{background-color:white;
font-size:15px;}
.logo_topo{float:left;margin-top: 20px; padding-top: 0px}
#calendario_agenda{padding-top:0px;float:right}


.ui-datepicker {  
    font-size: 60% !important; }
    
